<div class="container">
    {{page-title "Client"}}

    <ul class="nav">
        <li class="nav-item">
            <LinkTo class="nav-link" @route="index">Home</LinkTo>
        </li>
        <li class="nav-item">
            <LinkTo class="nav-link" @route="candidates">Candidates</LinkTo>
        </li>
    </ul>

    <div class="container">
        {{outlet}}
    </div>
</div>